<h1> Vendor 's Profile </h1>
<main>
<hr>
<p><strong> Name: </strong><%= @vendor.name %></p><hr>
<p><strong> List of sweets: </strong>
  <ul><% @vendor.vendor_sweets.uniq.each do |vs| %></p><hr>
    <li><%= link_to vs.sweet.name, sweet_path(vs.sweet) %>, Price: <%= vs.price %></li>
  <% end %>
  </ul>
<p><%= link_to "All vendors", vendors_path %></p>
</main>